<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" routerLinkActive="active" href="main">Harry Potter</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a href="login"  class="nav-link">
              <i class="nc-icon nc-tap-01"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <br>
  <br>
  <br>
  <div class="main-content">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-plain card-subcategories">
          <div class="card-header ">
            <h4 class="card-title text-center">Page Subcategories</h4>
            <br />
          </div>
          <div class="card-body ">
            <!--
                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                            -->
            <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                  <i class="now-ui-icons objects_umbrella-13"></i> Letter From Hogwards
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                  <i class="now-ui-icons shopping_shop"></i> Rules of Conduct
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                  <i class="now-ui-icons ui-2_settings-90"></i> Start
                </a>
              </li>
            </ul>
            <div class="tab-content tab-space tab-subcategories">
              <div class="tab-pane active" id="link7">
                Dear , 
<br>
We are pleased to inform you that you have been accepted at Hogwarts School of Witchcraft and Wizardry. Please find enclosed a list of all necessary books and equipment. Term begins on September 1. We await your owl by no later than July 31. 
<br>
<br>
Yours sincerely, 
<br>
Minerva McGonagall Deputy Headmistress 
<br>
<br>
 
The second page with requirements says: 
<br>
Hogwarts School of Witchcraft and Wizardry 
<br>
UNIFORM First-year students will require: 1.Three sets of plain work robes (black) 2.One plain pointed hat (black) for day wear 3.One pair of protective gloves (dragon hide or similar) 4.One winter cloak (black, with silver fastenings) Please note that all pupil's clothes should carry name tags. 
<br>
 <br>
COURSE BOOKS All students should have a copy of each of the following: 
<br>
<br>
The Standard Book of Spells (Grade 1) by Miranda Goshawk 
<br>
A History of Magic by Bathilda Bagshot 
<br>
Magical Theory by Adalbert Waffling 
<br>
A Beginner's Guide to Transfiguration by Emeric Switch 
<br>
One Thousand Magical Herbs and Fungi by Phyllida Spore 
<br>
Magical Drafts and Potions by Arsenius Jigger 
<br>
Fantastic Beasts and Where to Find Them by Newt Scamander 
<br>
The Dark Forces: A Guide to Self-Protection by Quentin Trimble 
<br>
<br>
OTHER EQUIPMENT 
<br>
1 wand 
<br>
1 cauldron (pewter, standard size 2) 
<br>
1 set glass or crystal phials 
<br>
1 telescope 
<br>
1 set brass scales 
<br>
Students may also bring an owl OR a cat OR a toad. 
<br>
<br>
PARENTS ARE REMINDED THAT FIRST YEARS ARE NOT ALLOWED THEIR OWN BROOMSTICK" 

 
              </div>
              <div class="tab-pane" id="link8">
                You will be provided 100,000 galleons of game money.
                <br>
Each team has five characters to start with, namely, Harry, Hermione,ron, Ginny and Dumbledore. Sirius Black will be introduced later.
<br>Each character has some worth associated with them.<br> 
Bidding window will open thrice in the game before the first level, third level and sixth level.<br>
In case you need cash at any time in the game, you can sell some of your resources at half the base price.
<br>
You must defeat Lord Voldemort who is stronger than ever.<br>
The team finishing with the maximum value of total cash, characters and resources at the end will win. <br>
There will be some quizzes in between levels for bonus points(1000 each).<br>
Decision of the organising team will be final.<br>
Don’t forget to keep track of the resources and cash<br>


              </div>
              <div class="tab-pane" id="link9">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                <br>
                <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                <br>
                  <div *ngFor="let lvl of lvls" class="py-3" style="text-align: center">
                    <a (click)="redirect_to(lvl.path_from_base)" style="background-color: #999; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block;" >
                      Level {{lvl.level}} <br />
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  